<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: black;
    }
    h2 {
        color: green;
    }
    h1 {
        color: white;
    }
</style>
<body>
    <h1>Los integrantes de mi familia son:</h1>
    <h2>Madre ---> nombre : {{mnombre}}, dni: {{mdni}}, fecha de nacimiento: {{mfechanacimiento}}</h2>
    <h2>Padre ---> nombre : {{pnombre}}, dni: {{pdni}}, fecha de nacimiento: {{pfechanacimiento}}</h2>
    <h2>Hermano ---> nombre : {{hnombre}}, dni: {{hdni}}, fecha de nacimiento: {{hfechanacimiento}}</h2>
</body>
</html>